body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    margin-top: -5px;
}

.container {
    width: 320px;
    height: 490px;
    background-color: white;
    border-radius: 20px;
}

.image-container {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.img {
    width: 290px;
    height: 290px;
    border-radius: 15px;
    margin-top: 15px;
}

.content {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-family: Outfit, sans-serif;
}

h1 {
    font-size: 22px;
    color: #1F314F;
    font-weight: bold;
}

p {
    color: gray;
    font-size: 16px;
    margin-top: -10px;
}